// Colors
$color-base-gray: #E8EAEB;
$color-light-gray : #F8F4F9;
$color-dark-gray: #1F343E;
$color-blue: #4EB3E3;
$color-yellow: #F8CC5D;
$color-nav-text-gray: #434A54;

// Fonts
$font-Noto-normal: 'Noto Sans', sans-serif;
$font-Caveat-normal: 'Caveat Brush', cursive;

// Layout breakpoints

$layout-breakpoint-desktop: 1120px