@use 'variables' as var;

.container {
   width: 100%;
   background-color: var.$color-yellow;
}

.base {
   margin: 0 auto;
   width: 100%;
   display: flex;
   flex-direction: column;

   padding: 3rem 1rem;
   
}
.section {
   background-color: var.$color-yellow;
   display: flex;
   flex-direction: column;
   
}

@media screen and (min-width: var.$layout-breakpoint-desktop) {
   .base {      
      width: 70%;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 100%;
      gap: 8.5rem;
   }
}