@use './variables' as var;

.container {
   width: 100%;    
   overflow: visible;
   background-color: #45565E;
   border: 1px solid var.$color-dark-gray;
}
.base {
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   // align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 2rem;
   padding-left: 2rem;
   padding-right: 2rem;

}

.web_card {
   width: 100%;
   display: flex;
   align-items: center;
   padding: 1.14rem 1.5rem;
   gap: 1.5rem;
   border: 1px solid var.$color-dark-gray;
   border-radius: 1rem;
   color: var.$color-light-gray;
   text-decoration: none;

   .logo {
      width: auto;
   }

   .description p, h3 {
      display: flex;
      flex-direction: column;
      align-items: start;
      font-family: var.$font-Noto-normal;

   }
   .description p {
      font-size: 1rem;
   }
   .description h3 {
      font-size: 20px;
   }
}

.review {
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   color: white;
   gap: 1rem;


   .stars {
      display: flex;
      align-items: center;
      gap: 4px;
      color: white
   };
   p {
      font-size: 1rem;
   }

}

@media screen and (min-width: var.$layout-breakpoint-desktop) {
   .base {      
      width: 70%;
      flex-direction: row;
      justify-content: space-evenly;
   }
   .web_card {
      padding: 1rem 1.5rem;
      gap: 1.14rem
      
   }
   .description p h4{
      font-size: 1rem !important;
   }
   .logo {      
         width: 1rem;      
   }
   .review {
      align-items: center;
      .stars {
         display: flex;
         align-items: center;
      }
   }
}